.fenlei{
	margin-top: 30rpx;
	margin-left: 44rpx;
	height: 70rpx;
	line-height: 90rpx;
	display: flex;
	align-items: center;
}
.leixing{
	font-size: 28rpx;
	background-image: linear-gradient(90deg,#bcddff,#d9ecff);
	white-space: nowrap;
	padding-right: 25rpx;
	padding-left: 25rpx;
	height: 62rpx;
	line-height: 70rpx;
	color: rgb(119, 144, 255);
	font-weight: bold;
}
/* 下拉框 */
.select_box {
	background: #fff;
	width: 180rpx;
	/* margin: 0 auto; */
	height: 60rpx;
	// line-height: 90rpx;
	text-align: center;
	position: relative;
}
.select {
	box-sizing: border-box;
	width: 100%;
	height: 86rpx;
	/* border: 1px solid #efefef; */
	border-radius: 8rpx;
	display: flex;
	align-items: center;
	padding: 0 20rpx;
}
.select_text {
	font-size: 26rpx;
	flex: 1;
	color: rgb(102, 102, 102);
	line-height: 66rpx;
	height: 86rpx;
}
.select_img {
	width: 30rpx;
	height: 35rpx;
	display: block;
	transition: transform 0.3s;
	margin-bottom: 18rpx;
}
.select_img_rotate {
	transform: rotate(180deg);
}
.option_box {
	position: absolute;
	top: 86rpx;
	width: 100%;
	/* border: 1px solid #efefef; */
	box-sizing: border-box;
	height: 0;
	overflow-y: auto;
	border-top: 0;
	background: #fff;
	transition: height 0.3s;
	z-index: 100;
	margin-top: -24rpx;
}
.option {
	display: block;
	line-height: 40rpx;
	font-size: 26rpx;
	border-bottom: 1px solid #efefef;
	padding-top: 10rpx;
	padding-bottom: 10rpx;
	padding-right: 20rpx;
	color: rgb(102, 102, 102);
	text-align: center;
}






.fenlei2{
	margin-top: -70rpx;
	margin-left: 426rpx;
	height: 70rpx;
	line-height: 90rpx;
	display: flex;
	align-items: center;
}
.leixing2{
	font-size: 28rpx;
	color: rgb(119, 144, 255);
	background-image: linear-gradient(90deg,#bcddff,#d9ecff);
	white-space: nowrap;
	padding-right: 25rpx;
	padding-left: 25rpx;
	height: 62rpx;
	line-height: 70rpx;
	font-weight: bold;
}
/* 下拉框 */
.select_box2 {
	background: #fff;
	width: 180rpx;
	/* margin: 0 auto; */
	height: 60rpx;
	// line-height: 90rpx;
	text-align: center;
	position: relative;
}  
.select2 {
	box-sizing: border-box;
	width: 100%;
	height: 86rpx;
	/* border: 1px solid #efefef; */
	border-radius: 8rpx;
	display: flex;
	align-items: center;
	padding: 0 20rpx;
}
.select_text2 {
	font-size: 26rpx;
	flex: 1;
	color: rgb(102, 102, 102);
	line-height: 66rpx;
	height: 86rpx;
} 
.select_img2 {
	width: 30rpx;
	height: 35rpx;
	display: block;
	transition: transform 0.3s;
	margin-bottom: 18rpx;
}
.select_img2_rotate {
	transform: rotate(180deg);
}
.option_box2 {
	position: absolute;
	top: 86rpx;
	width: 100%;
	box-sizing: border-box;
	height: 0;
	overflow-y: auto;
	border-top: 0;
	background: #fff;
	transition: height 0.3s;
	z-index: 100;
	margin-top: -24rpx;
} 
.option2 {
	display: block;
	line-height: 40rpx;
	font-size: 26rpx;
	border-bottom: 1px solid #efefef;
	padding-top: 10rpx;
	padding-bottom: 10rpx;
	padding-right: 28rpx;
	color: rgb(102, 102, 102);
	text-align: center;
}





.item {
	margin-right: 20rpx;
	margin-left: 20rpx;
	border-radius: 40rpx;
	height: 250rpx;
	background-color: white;
	position: relative;
	margin-top: 25rpx;
	.img {
		width: 220rpx;
		height: 220rpx;
		border-radius: 60px;
		margin-top: 15rpx;
		margin-left: 30rpx;
		float: left;
		position: absolute;
	}
	.name {
		font-size: 38rpx;
		font-weight: bold;
		margin-top: 20rpx;
		margin-left: 282rpx;
		position: absolute;
	}
	.school{
		font-size: 26rpx;
		margin-top: 80rpx;
		margin-left: 283rpx;
		position: absolute;
		white-space: nowrap;      /*文字超出省略号*/
		color: #3c3c3c;
	}
	.instrument{
		font-size: 26rpx;
		margin-top: 130rpx;
		margin-left: 280rpx;
		width: 120rpx;
		text-align: center;
		padding-top: 5rpx;
		padding-bottom: 5rpx;
		position: absolute;		
		background-color: #e7e7e7;
		border-radius: 10rpx;
		overflow: hidden;	
		text-overflow:ellipsis;
		white-space: nowrap;
		color: #3c3c3c;
		font-weight: bold;
	}
	.area{
		font-size: 26rpx;
		margin-top: 130rpx;
		margin-left: 420rpx;
		padding-right: 25rpx;
		padding-left: 25rpx;
		padding-top: 5rpx;
		padding-bottom: 5rpx;
		position: absolute;		
		background-color: #e7e7e7;
		border-radius: 10rpx;
		overflow: hidden;	
		text-overflow:ellipsis;
		white-space: nowrap;
		color: #3c3c3c;
		font-weight: bold;
	}
	.jie {
		font-size: 38rpx;
		color: rgb(235, 79, 68);
		float: left;
		margin-top: 184rpx;
		position: relative;
		margin-left: 286rpx;
		font-weight: bold;
	}
}
  

  

  

  